$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.mainContainer {
	display: grid;
	justify-content: center;
}
.containerFlex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.cpFlex {
	display: flex;
	width: 1%;
	margin-top: 2.5rem;
	margin-bottom: auto;
}
.cpButton {
	padding: 0.5rem;
	white-space: nowrap;
	text-align: center;
	font-size: 3rem;
	border-radius: 1rem;
	border: 2px solid #292929;
}
.spacerFlex {
	width: 1%;
}
.emojiFlex {
	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.emojiContainer {
	display: grid;
	float: inline-start;
	text-align: center;
	width: min-content;
}
.pictogramText {
	margin: 1.4rem;
	font-size: 5rem;
	margin-bottom: 0rem;
}
.descriptionContainer {
	margin: auto;
	text-align: center;
}
.descriptionText {
	line-break: strict;
}
.fortuneButton {
	display: grid;
	margin: auto;
	margin-top: 10rem;
	margin-bottom: 5rem;
	padding: 1rem;
	white-space: nowrap;
	text-align: center;
	font-size: 3rem;
	border-radius: 2rem;
	border: 2px solid #292929;
}
.copyIcon {
	width: 3rem;
	height: 3rem;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include sm {
	.emojiFlexbox {
		margin-top: 4rem;
	}
	.pictogramText {
		font-size: 7.5rem;
	}
	.descriptionText {
		font-size: 2rem;
	}
	.fortuneButton {
		margin-top: 6rem;
		font-size: 2.8rem;
	}
	.cpButton {
		padding: 1rem;
	}
	.cpFlex {
		margin-top: 4rem;
	}
}

@include md {
	.emojiFlexbox {
		margin-top: 6rem;
	}
	.pictogramText {
		margin: 1.8rem;
		font-size: 10rem;
	}
	.descriptionText {
		font-size: 2.6rem;
	}
	.fortuneButton {
		margin-top: 10rem;
		font-size: 4rem;
	}
	.cpFlex {
		margin-top: 7rem;
	}
}

@include lg {
	.emojiFlexbox {
		margin-top: 8rem;
	}
	.pictogramText {
		margin: 3rem;
		font-size: 12.5rem;
	}
	.descriptionText {
		font-size: 3.5rem;
	}
	.cpFlex {
		margin-top: 11rem;
	}
}

@include xl {
	.pictogramText {
		font-size: 17.5rem;
	}
	.descriptionText {
		font-size: 4rem;
	}
	.cpFlex {
		margin-top: 16rem;
	}
}
