$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.mainContainer {
	display: grid;
	align-items: center;
	justify-content: center;
}
.textContainer {
	margin: auto;
	margin-top: 25rem;
}
.emojiContainer {
	display: grid;
	float: inline-start;
	text-align: center;
	width: min-content;
}
.pictogramText {
	margin: 3rem;
	font-size: 5rem;
	margin-bottom: 0rem;
}
.descriptionContainer {
	justify-content: center;
	text-align: left;
}
.descriptionText {
	text-align: center;
	margin: auto;
	line-break: strict;
}

@include sm {
}

@include md {
}

@include lg {
}

@include xl {
	.textContainer {
		margin-top: 25rem;
	}
	.pictogramText {
		font-size: 22rem;
	}
	.descriptionText {
		font-size: 4rem;
	}
}
