$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

.mainContainer {
	display: grid;
	justify-content: center;
}
.textContainer {
	margin-top: 15rem;
}
.emojiContainer {
	display: grid;
	float: inline-start;
	text-align: center;
	width: min-content;
}
.pictogramText {
	margin: 1.4rem;
	font-size: 5rem;
	margin-bottom: 0rem;
}
.descriptionContainer {
	margin: auto;
	text-align: center;
}
.descriptionText {
	line-break: strict;
}

@include sm {
	.pictogramText {
		font-size: 7.5rem;
	}
	.descriptionText {
		font-size: 2rem;
	}
}

@include md {
	.pictogramText {
		margin: 1.8rem;
		font-size: 10rem;
	}
	.descriptionText {
		font-size: 2.6rem;
	}
}

@include lg {
	.textContainer {
		margin-top: 20rem;
	}
	.pictogramText {
		margin: 3rem;
		font-size: 12.5rem;
	}
	.descriptionText {
		font-size: 3.5rem;
	}
}

@include xl {
	.textContainer {
		margin-top: 25rem;
	}
	.pictogramText {
		font-size: 17.5rem;
	}
	.descriptionText {
		font-size: 4rem;
	}
}
